In [1]:
import pandas as pd
import os
import re
import numpy as np
import math
import geojson

In [2]:
path = os.getcwd()
path = path.split('CIS550_Group_Project')[0]

# Listing Data

### (1)Read in data

In [3]:
l1 = pd.read_csv(path + 'data/listings.csv')

In [4]:
len(pd.unique(l1['neighbourhood']))

209

### (2)Generate Summary Statistics

In [201]:
#summaryStats = l1.describe()
#summaryStats.to_csv('data/listing_summary_stats.csv')

### (3)Subset Useful Columns

In [202]:
useful_columns = ['id', 'listing_url', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_picture_url',
       'host_listings_count',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'price',
       'minimum_nights', 'maximum_nights', 
       'availability_365', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable']
l2 = l1[useful_columns]

### (4)Convert bathroom_text column to bathrooms column(numeric)

In [203]:
#l2['bathrooms'] = l2['bathrooms_text'].astype(str).apply(lambda x: x.split(' ')[0] if len(x.split(' ')) > 0 else None)

In [204]:
def extract_bathroom(x):
    blist = str(x).split(' ')
    if len(blist) > 0:
        try:
            float(blist[0])
            return float(blist[0])
        except ValueError:
            if 'half' in str(x).lower():
                return 0.5
    return None

l2['bathrooms'] = l2['bathrooms_text'].apply(extract_bathroom)
l2 = l2.drop(columns=['bathrooms_text'])

<ipython-input-204-11ae1bb7fdc9>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  l2['bathrooms'] = l2['bathrooms_text'].apply(extract_bathroom)

### (5) Convert Price column to numeric

In [205]:
l2['price'] = l2['price'].str.replace('$','').str.replace(",",'').astype(float)

### (6)rename

In [206]:
l2.rename(columns = {'neighbourhood_cleansed':'neighbourhood', 
                     'neighbourhood_group_cleansed':'neighbourhood_group',
                     'id':'listing_id'}, 
          inplace = True)

In [207]:
### Convert host_since to MySql default date format YYYY-mm-dd
# l2['host_since'] = pd.to_datetime(l2['host_since'], infer_datetime_format=True).astype(str)

### (7)Convert host_response_rate to numeric, remove %

In [208]:
l2['host_response_rate'] = l2['host_response_rate'].str.replace('%','').astype(float)/100

### (8)Convert host_acceptance_rate to numeric, remove %

In [209]:
l2['host_acceptance_rate'] = l2['host_acceptance_rate'].str.replace('%','').astype(float)/100

### (9) Demopose to take host information into host table

In [210]:
host_columns = ['host_id', 'host_url',
       'host_name', 'host_since',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_picture_url',
       'host_listings_count']
host = l2[host_columns]
host.shape

(36724, 10)

In [211]:
# There are 25690 unique host_id
host['host_id'].unique().shape

(25690,)

In [212]:
## after removing duplicates, there are 25690 records for host table
host.drop_duplicates(inplace=True, keep="first") 
host.shape

<ipython-input-212-b9474bdaa677>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  host.drop_duplicates(inplace=True, keep="first")

(25690, 10)

In [216]:
host.to_csv(path + 'data/host_cleaned.csv', index = False)

### (10) save listing (remove host columns) into csv

In [61]:
listing_removehost_columns = ['listing_id', 'listing_url', 'host_id','name', 'description', 
       'neighborhood_overview', 'picture_url', 
       'neighbourhood', 'neighbourhood_group', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms', 'bedrooms', 'beds', 'price',
       'minimum_nights', 'maximum_nights', 
       'availability_365', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable']

In [62]:
l3 = l2[listing_removehost_columns]

In [64]:
l3.to_csv(path + 'data/listing_removehost_cleaned.csv', index = False)

# Review Data

In [242]:
r1 = pd.read_csv(path + 'data/reviews.csv')

In [243]:
def scan_non_digit(x):
    match = re.findall(r"\D",x)
    if len(match) > 0:
        return ""
    else:
        return x

r1["listing_id"] = r1["listing_id"].astype(str).apply(scan_non_digit)
r1["id"] = r1["id"].astype(int).astype(str).apply(scan_non_digit)

In [244]:
#check problematic id columns
check = r1[(r1['listing_id']== "") | (r1['id']== "") ]
check

Empty DataFrame
Columns: [listing_id, id, date, reviewer_id, comments]
Index: []

In [245]:
r1 = r1.drop(columns=['comments'])
r1.rename(columns = {'id': 'review_id'}, 
          inplace = True)

In [246]:
r2 = r1.drop_duplicates(subset = ['review_id'], keep='first')
#r2 = r2.sample(n = 75000)

In [247]:
r2.to_csv(path + 'data/review_cleaned_sample.csv', index = False)

## Neighborhood Data

In [63]:
def parse_geojson(file_path):
    
    with open(file_path) as f:
        gj = geojson.load(f)
    
        results = []
    
    for record in gj["features"]:
        coord = np.array(record['geometry']['coordinates'][0][0])
        min_coord = list(np.amin(coord,axis=0))
        max_coord = list(np.amax(coord,axis=0))
        results.append({
            "neighbourhood" : record["properties"]["neighbourhood"]
            ,"neighbourhood_group": record["properties"]["neighbourhood_group"]
            ,"minx": min_coord[0]
            ,"maxx": max_coord[0]
            ,"miny": min_coord[1]
            ,"maxy": max_coord[1]
            ,"centerx": (min_coord[0] + max_coord[0])/2
            ,"centery": (min_coord[1] + max_coord[1])/2
           })
    
    return pd.DataFrame(results)

In [70]:
### merge target data with neighborhood data by fuzzy join on neightborhood latitude & longtitude range
def match_region_by_latlong(target_df, nbr_df):
    
    lat = target_df['latitude'].values
    long = target_df['longitude'].values
    
    nbr_latlow = nbr_df['miny'].values
    nbr_lathigh = nbr_df['maxy'].values
    nbr_longlow = nbr_df['minx'].values
    nbr_longhigh = nbr_df['maxx'].values
    
    i, j = np.where((lat[:, None] >= nbr_latlow) & (lat[:, None] <= nbr_lathigh) &
                 (lat[:, None] >= nbr_longlow) & (long[:, None] <= nbr_longhigh))
    
    merge_df = pd.DataFrame(
                np.column_stack([target_df.values[i], nbr_df.values[j]]),
                columns = target_df.columns.append(nbr_df.columns)
                )
    
    merge_df['dist_to_center'] = (merge_df['longitude'] - merge_df['centerx'])**2 + (merge_df['latitude'] - merge_df['centerx'])**2
    
    return merge_df

In [66]:
nbr = parse_geojson(path + 'data/neighbourhoods.geojson')

In [91]:
### double check all listing neighborhood included in this neighborhood dataset
for item in list(pd.unique(l2["neighbourhood"])):
    if item not in list(nbr["neighbourhood"]):
        print(item)

### Assign NeighborHood to Museum

In [112]:
m1 = pd.read_csv(path + 'data/MUSEUM_New_York_cleaned.csv')
m1.shape

(130, 9)

In [113]:
m1['longitude'] = -m1['longitude']

In [114]:
m2 = match_region_by_latlong(m1, nbr)
m2.shape

(1444, 18)

In [115]:
## neighborhoods per Museum
m2.shape[0]/m1.shape[0]

11.107692307692307

In [98]:
m2['dist_to_center'] = m2['dist_to_center'].astype('float')
m2["distance_rank"] = m2.groupby("id")["dist_to_center"].rank(method = "first", ascending=True)
m2 = m2[m2["distance_rank"] <= 5]

In [103]:
m2.to_csv(path + 'data/MUSEUM_with_nbr.csv', index = False)

### Assign Neighborhood to ArtGallery

In [76]:
a1 = pd.read_csv(path + 'data/ART_GALLERY_New_York_cleaned.csv')
a1.shape

(917, 9)

In [77]:
a1['longitude'] = -a1['longitude']

In [107]:
a2 = match_region_by_latlong(a1, nbr)
a2.shape

(11721, 18)

In [109]:
#neighborhood per ArtGallery
a2.shape[0]/a1.shape[0]

12.781897491821155

In [110]:
a2['dist_to_center'] = a2['dist_to_center'].astype('float')
a2["distance_rank"] = a2.groupby("id")["dist_to_center"].rank(method = "first", ascending=True)
a2 = a2[a2["distance_rank"] <= 5]
a2.shape

(4527, 19)

In [116]:
a2.to_csv(path + 'data/ART_GALLERY_with_nbr.csv', index = False)

### Assign Neighborhood to Park

In [129]:
p1 = pd.read_csv(path + 'data/Park_New_York_cleaned.csv')
p1['longitude'] = -p1['longitude']
p1.shape

(3706, 4)

In [130]:
p2 = match_region_by_latlong(p1, nbr)
p2.shape

(30014, 13)

In [131]:
#neighborhoods per Park
p2.shape[0]/p1.shape[0]

8.09875876956287

In [132]:
p2['dist_to_center'] = p2['dist_to_center'].astype('float')
p2["distance_rank"] = p2.groupby("id")["dist_to_center"].rank(method = "first", ascending=True)
p2 = p2[p2["distance_rank"] <= 5]
p2.shape

(4319, 14)

In [133]:
p2.to_csv(path + 'data/PARK_with_nbr.csv', index = False)

### Assign Neighborhood to Crime Data

In [121]:
c1 = pd.read_csv(path + 'data/NYPD_Arrest_Data__Year_to_Date_Clean.csv')
c1.shape

(73437, 7)

In [122]:
c2 = match_region_by_latlong(c1, n1)
c2.shape

(596800, 16)

In [123]:
###neighborhoods per Crime incident
c2.shape[0]/c1.shape[0]

8.126693628552365

In [126]:
c2['dist_to_center'] = c2['dist_to_center'].astype('float')
c2["distance_rank"] = c2.groupby("arrest_key")["dist_to_center"].rank(method = "first", ascending=True)
c2 = c2[c2["distance_rank"] <= 1]
c2.shape

(73395, 17)

In [128]:
c2.to_csv(path + 'data/Crime_with_nbr.csv', index = False)